.business {
  display: flex;
  flex-direction: column; /* Overall layout is vertical */
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
}

.business img {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.business .name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.business .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.businessInfo,
.businessDetails {
  flex: 1;
  display: flex;
  flex-direction: column; 
}

.businessDetails {
  text-align: right;
}
  
.business .address {
  font-size: 1.4rem;
  font-style: italic;
}

.business .city {
  font-size: 1.3rem;
  color: #3f3f3f;
}

.business .zipCode {
  font-size: 1.3rem;
  color: #3f3f3f;
}

.business .rating {
  font-size: 1.2rem;
  color: #f5a623;
}

.business .category {
  font-size: 1.6rem;
  font-weight: bold;
  color: #f5a623;
}

.business .reviewCount {
  font-size: 1.2rem;
  color: #3f3f3f;
}