.searchBar {
    display: flex;
    width: 100%;
    background-image: url("../public/images/background_search_desktop.jpg");
    flex-direction: column;
    align-items: center;
    gap : 20px;
}

.searchBar .sortButtons {
    display: flex;
    flex-direction: row;
    gap : 50px;
    color: #ccc;
    border-bottom: 1px solid white;
    margin-top: 100px;
    margin-bottom: 50px;
}

.searchBar .sortButtons button {
    width: 300px;
    background: transparent;
    border: 2px solid transparent;
    color : #ccc;
    padding: 12px;
    font-size: 16px;
    font-size: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.searchBar .sortButtons button:hover {
    background-color: rgba(255, 165, 0, 0.2);
    border: 2px solid orange;
}

.searchBar .sortButtons button.active {
    background-color: orange;
    color: white;
    font-weight: bold; 
    border: 2px solid orange;
}

.searchBar .searchButton {
    width: 200px;
    height: 50px;
    background-color: orange;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 50px;
}

.searchBar .searchingBars {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 20px;
}

.searchBar input {
    width: 500px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}